# Unsecure do not use in production.
SUPERUSER_USERNAME=supernutzer
SUPERUSER_EMAIL=gehtdich@nixan.de
SUPERUSER_PASSWORD=super_geheimes_passwort!

DEBUG=True

ALLOWED_HOSTS=<your.ip.is.here>,localhost,127.0.0.1